/*-- Font Weights --*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:700|Raleway');

body {
  background-color: #f5f5f4;
  text-align: center;
}

a {
  color: black;
}

ul {
  padding-left: 0; /* override default */ 
}
.button {
 
  height: 30px;
  font-family: 'Montserrat', sans-serif; 
  font-size: 15pt;
  text-transform: uppercase;
  min-width: 120px;
  max-width: 150px; 
  margin: 10px;
  padding-top: 20px; 
  padding-bottom: 50px; 
  display: inline-block; 
  text-align: center; 
}

h2, h3 {
  text-align: center; 
}

h2 {
  font-family: 'Abril Fatface', Serif; 
  font-size: 70pt;
}

h3 {
  font-family: 'Raleway', Serif; 
  font-size: 20pt;
}
 
.colors { 
  border-top: solid black 1px; 
  margin: auto;
  margin-top: 20px; 
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.jeff {
  padding-left: 10px; 
  padding-right: 10px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
}